body {
/*margin 0 auto;*/
}

.container{
  max-width: 800px;
  margin: 0 auto;
}
article {
}

h1 {

}

img {
  max-width: 100%;
}
footer {
  margin: 0 auto;
  max-width: 100%;
}
.social {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*flex-direction: column;*/
}
.social-entry {
  max-width: 50px;
  color: black;
}
.social-entry i{
  font-size: 24px;
  color: #001233;
  text-shadow: 3px 3px 3px #aaa;
  add
}
